# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
persian_tools

# Test binary, built with `go test -c`
*.test

# Coverage output
*.out
coverage.txt

# Editor / IDE
.idea
.vscode

# OS
.DS_Store

# CLI binary
persian-tools
coverage.out
